
<div class="wrap">

  <div class="form">
    <p tooltip>Фильтрация и поиск</p>
    <input *ngIf="selected==='Поиск'|| selected==='Фильтр по баллам'" type="text" [(ngModel)] ="input" placeholder="{{placeholder}}">
    <span  *ngIf="selected==='Фильтр по дате'">Начальная дата:</span>
    <input *ngIf="selected==='Фильтр по дате'" type="date" [(ngModel)] ="minDate" >
    <span *ngIf="selected==='Фильтр по дате'">Конечная дата:</span>
    <input *ngIf="selected==='Фильтр по дате'" type="date" [(ngModel)] ="maxDate">
    <button 
      (click)="selected==='Поиск'?find(input):
               selected==='Фильтр по дате'?filterDate(minDate, maxDate):
                                          filterScore(input)"
    >
      {{selected}}
    </button>
    <button (click)="clearFilter()">Сбросить все фильтры</button>
    <div class="toggleLabel">
      <label tooltip for="switch">Подсветка плохих оценок</label>
      <input 
      class="toggle" 
      type="checkbox"
      [checked]="false"
      (change)="checkboxSelected = !checkboxSelected"
      >
    </div>
    <select [ngModel]="selected" (ngModelChange)="onChange($event)"  > 
      <option value='Поиск'>Поиск по имени или фамилии</option> 
      <option value='Фильтр по дате'>Фильтрация по дате рождения</option> 
      <option value='Фильтр по баллам'>Фильтрация по среднему   баллу</option> 
      </select>
  </div>
  <div class="table">
    <h1 >Таблица студентов</h1>
    <table  >
      <tr>
        <th class="pointer" (click)="sort('lastName')">Фамилия</th>
        <th class="pointer" (click)="sort('name')">Имя</th>
        <th class="pointer" (click)="sort('patronymic')">Отчество</th>
        <th class="pointer" (click)="sort('birthDate')">Дата рождения</th>
        <th class="pointer" (click)="sort('score')">Средний балл</th>
        
      </tr>

      <tr shine 

        *ngFor="let student of studentService.students;  let j = odd"
        [ngClass]="{'three': student.score<3 && checkboxSelected,
                    'deleted': student.deleted,
                    'finded': studentService.findedStudents.includes(student.id),
                  'notInRange':notInRange.includes(student.id)}"
        > 
          <td tooltip>{{student.lastName | capitalizeWord | mrMrs}}</td>
          <td>{{student.name | capitalizeWord}}</td>
          <td>{{student.patronymic | capitalizeWord}}</td>
          <td 
          class="cakeTd"
          birthdayCake [value]="student.birthDate"
          >{{student.birthDate}}</td>
          <td>{{student.score}}</td>
          <td>
            <button  
              class="table_edit"
              routerLink="/edit/{{student.id}}" [queryParams]="isOffline?{offline: 'true'}:{}" >
              Редактировать
            </button>
          </td>
          <td>
            <button 
              class="table_del"
              (click)="showModal(student.id, student.lastName, student.name)">
              &times;
            </button>
          </td>
      </tr>
    </table>
  </div>
  <app-form></app-form>
</div>
  <div *ngIf="modal.isShown" class="shown">
    <div class="modal">
      <button  class="red close" (click)="hideModal()">X</button>
      <span>{{modal.message}}</span>
      <div>
        <button *ngIf="modal.error === false" class="green"(click)="deleteStudent(modal.id)">Да</button>
        <button *ngIf="modal.error === false" class="red" (click)="hideModal()">Нет</button>
      </div>
    </div>
  </div>
