<div class="wrap">
  <div  class="newStudent">
    <p *ngIf="!edit">Добавление нового студента</p>
    <p *ngIf="edit">Редактирование студента</p>
    <span>*Все поля обязательны для заполнения</span>

    <form 
    novalidate
    [formGroup]="newFormModel"
    (ngSubmit)="newStudent()">
      <div formGroupName="fullName">
        <label for="lastName">Введите фамилию: </label>
        <input 
        [ngClass]="{'invalid': newFormModel.get('fullName')?.invalid &&
                               newFormModel.get('fullName.lastName')?.dirty &&
                               newFormModel.get('fullName.name')?.dirty &&
                               newFormModel.get('fullName.patr')?.dirty ||
                               newFormModel.get('fullName.lastName')?.dirty &&
                               newFormModel.get('fullName.lastName')?.invalid}"
        formControlName="lastName" id="lastName">
        <label for="name">Введите имя: </label>
        <input 
        [ngClass]="{'invalid': newFormModel.get('fullName')?.invalid &&
                               newFormModel.get('fullName.lastName')?.dirty &&
                               newFormModel.get('fullName.name')?.dirty &&
                               newFormModel.get('fullName.patr')?.dirty ||
                               newFormModel.get('fullName.name')?.dirty &&
                               newFormModel.get('fullName.name')?.invalid}"
        formControlName="name" id="name">
        <span 
          *ngIf="newFormModel.get('fullName.name')?.dirty &&
          newFormModel.get('fullName.patr')?.dirty &&
          newFormModel.get('fullName.lastName')?.dirty &&
          newFormModel.get('fullName')?.invalid"
          [ngClass]="{'tooltip': true,'errorText': true  }"
          >Заполните все поля и проверьте совпадение с фамилией или отчеством
        </span>
        <label for="patr">Введите отчество: </label>
        <input 
        [ngClass]="{'invalid': newFormModel.get('fullName')?.invalid &&
                               newFormModel.get('fullName.lastName')?.dirty &&
                               newFormModel.get('fullName.name')?.dirty &&
                               newFormModel.get('fullName.patr')?.dirty ||
                               newFormModel.get('fullName.patr')?.dirty &&
                               newFormModel.get('fullName.patr')?.invalid}"
                               
        formControlName="patr" id="patr">
      </div>
       <label for="birthDate">Введите дату рождения: </label>
       <input 
       [ngClass]="{'invalid': newFormModel.get('birthDate')?.dirty && newFormModel.get('birthDate')?.invalid}"
       type="date" formControlName="birthDate" id="birthDate">
       <span 
        *ngIf="newFormModel.get('birthDate')?.dirty && newFormModel.get('birthDate')?.invalid"
        [ngClass]="{'tooltip': true, 'errorText': true  }"
        >Студент должен быть старше 10 лет
       </span>
       <label for="score">Введите средний балл: </label>
       <input 
       [ngClass]="{'invalid': newFormModel.get('score')?.dirty && newFormModel.get('score')?.invalid}"
       type="text" formControlName="score" id="score">
       <span
          *ngIf="newFormModel.get('score')?.dirty && newFormModel.get('score')?.invalid "
          [ngClass]="{'tooltip': true, 'errorText': true  }"
          >Диапозон 0-6
       </span>
       <button
        [ngClass]="{'disabled':newFormModel.invalid}"
         type="submit"
         *ngIf="!edit"
         >Добавить
        </button>
        <button
        type="button"
        [ngClass]="{'disabled':newFormModel.invalid}"
         *ngIf="edit"
         (click)="editStudent()"
         >Редактировать
        </button>
        <button
        type="button"
         *ngIf="edit"
         (click)="backToNewStudent()"
         class="red"
         >Отменить редактирование
        </button>
    </form>


  
</div>
<div *ngIf="modal.error" class="shown">
  <div class="modal">
  <p>Ошибка</p>
  <span>{{modal.errorMsg}}</span>
    <button  class="red" (click)="hideError()">Понятно</button>
  </div>
</div>



